[Unit]
Description=UNO Gateway/Subdevice MQTT Sender
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
Environment=BROKER_IP=192.168.10.1
Environment=INTERVAL=20
ExecStart=/home/pi/uno_gateway_subdevice_sender.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
