listening-port=3478
fingerprint
use-auth-secret
static-auth-secret=__TURN_SECRET__
realm=visionbridge
server-name=visionbridge-turn
external-ip=__PUBLIC_IP__
min-port=49160
max-port=49200
stale-nonce=600
no-cli
no-tls
no-dtls
no-multicast-peers
no-loopback-peers
total-quota=120
user-quota=12
log-file=syslog

